.banner
    .container
        .row
            .col-1 
                .hero-col.hero__col
                    span.slash.slash--top ///
                    span.slash.slash--bottom ///
            .col-6
                .hero
                    h1.hero-title.red-dot metria - переходи на новый уровень
                    p.hero-description.hero__description Мы разбираемся в современных трендах маркетинга и дизайна, что позволяет вашему проекту идти в ногу со временем и быть успешным