.container
    h2.site-title.site__title.red-dot Чем мы выделяемся

    .benefits
        +benefit("/assets/img/benefit1.png", "Привлечение целевой аудитории")
        +benefit("/assets/img/benefit2.png", "Успех по срокам")
        +benefit("/assets/img/benefit3.png", "Определение задач")
        +benefit("/assets/img/benefit4.png", "Командная работа")
        +benefit("/assets/img/benefit5.png", "Подход к работе с брендом")