include level.pug

.footer
    .container
        .row.align-items-center
            .col-1
                img(src="/assets/img/logo.svg", alt="logotype")
            .col-2
                span.footer-contact-title Telegram
                a(href="").footer-contact-link.footer-contact-link @metriasupport
            .col-5
                span.footer-contact-title Email
                a(href="").footer-contact-link.footer-contact-link--decor info@metria.biz
            .col-2
                a(href="").policy-link Политика конфиденциальности
                a(href="").policy-link Политика обработки данных
            .col.d-flex.justify-content-between
                +social("#", "/assets/img/social1.png")
                +social("#", "/assets/img/social2.png")
                +social("#", "/assets/img/social3.png")
                +social("#", "/assets/img/social4.png")
