.container
    .row
        .col-5
            h2.level-title Готовы выходить на <span class="level-title--red">новый уровень?</span>
            span.level-desc Оставьте заявку прямо сейчас
        .col-6.d-flex.align-items-end.justify-content-end
            button.button Оставить заявку


