.container
    h2.site-title.site__title.red-dot НОВЫЙ КЕЙС

    .row
        .col-6
            .new-case
                button.button.new-case-button подробнее
                    span.slash.slash--bottom
        .col
            h3.new-case-title.new-case__title Marti
            p.new-case-desc Игра, в которой пользователи делают определенную ставку на один из результатов будущего розыгрыша