.folio
    .container
        h2.site-title.site__title.red-dot мы сделаем

        .row
            +folioItem('Веб-Разработка')
            +folioItem('Продвижение')
            +folioItem('Брендирование')

