.container
    .row
        +step('01', "Оставить заявку", "Предоставьте  контактную информацию для обратной связи", "/assets/img/step1.png")
        +step('02', "Обратная связь", "Наша команда свяжется с вами и договорится о реализации проекта", "/assets/img/step2.png")
        +step('03', "Реализация проекта", "После детального обсуждению проекта, мы приступим к его выполнению", "/assets/img/step3.png")