extends ../layout/main

block variables
    - var title = "Главная";

block content
    include ../includes/modules/banner
    include ../includes/modules/portfolio
    include ../includes/modules/benefits
    include ../includes/modules/newcase
    include ../includes/modules/steps
    include ../includes/modules/footer